{% extends 'base.html' %}

{% block content %}


<h2>User: {{ user.first_name }} {{ user.last_name }}</h2>
<img class="img-fluid" src="{{ user.image_url }}" alt="user_img">
<a role="button" href="/users/{{ user.id }}/edit" class="btn btn-secondary">Edit</a>
<form action="/users/{{ user.id }}/delete" method="POST">
    <button role="button" class="btn btn-danger" type="submit">Delete</button>
</form>

<div>
    <h2>Posts</h2>
    <ul>
        {% for post in posts %}
        <li> <a href="/posts/{{ post.id }}"> {{ post.title }} </a></li>
        {% endfor %}
    </ul>
    <a href="/users/{{ user.id }}/posts/new" role="button" class="btn btn-primary" type="submit">Add Post</a>
</div>
{% endblock %}
